<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>

<button class="button-submit" id="buttonsubmit">Pay Now</button>
</body>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
    var options = {
        <!--from views.py-->
        'key': "{{ razorpay_key }}",
        'amount': "{{ razorpay_amount }}",
        'currency': "{{ currency }}",
        'description': "Tea tasty",
        'name': "Dj Razorpay",
        'order_id': "{{ razorpay_order_id }}",
        'callback_url': "{{ callback_url }}",
        /*"handler": function (response) {
            alert(response.razorpay_payment_id);
            alert(response.razorpay_order_id);
            alert(response.razorpay_signature)
        }*/
    };

    // initialise razorpay with the options.
    var rzp1 = new Razorpay(options);
    /*rzp1.on('payment.failed', function (response) {
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
    });*/
    // add event listener to the payment button.
    document.getElementById("buttonsubmit").onclick = function (e) {
        rzp1.open();
        e.preventDefault();
    };


</script>

</html>